<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} | Video. Design. Web.</title>
  <meta name="description" content="Paul Franz is a Washington, D.C.-based multimedia and digital communications expert with experience in video, web development, management, and design.">
  <meta name="author" content="Paul Franz">
  <link rel="icon" href="images/favicon.ico">
  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image" content="images/pfranz_social.jpg" />
  <meta property="og:image:width" content="1500" />
  <meta property="og:image:height" content="754" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="Paul Franz is a Washington, D.C.-based multimedia and digital communications expert with experience in video, web development, management, and design." />
  <meta name="twitter:title" content="Paul Franz | Video. Design. Web." />
  <meta name="twitter:site" content="@pkfranz" />
  <meta name="twitter:image" content="images/pfranz_twitter.jpg" />
  <meta name="twitter:creator" content="@pkfranz" />
</head>
